*{
    margin: 0px;
    padding: 0px;
}

body{
    background: #ebe6e2;
    font-size: 16px;
}

.box{
    width: 33%;
    height: 200px;
    border: 1px solid #18587b;
    background: #f3f3f3;
    display: inline-block;
    vertical-align: top;
    letter-spacing: normal;
    margin: 0 auto;
    font-size: 1.8rem;
}
/*.box:first-child{
    background: red;
}
.box:last-child{
    background: white;
}*/
.box:nth-child(odd){
    background: green;
}
.box:nth-child(even){
    background: blue;
}
.container{
    width: 100%;    
    letter-spacing: -1.35em;    
    background: orange;
    text-align: justify;
}

.header{
    width: 100%;
    background: #880016;
    display: inline-block;
    position: relative;
    height: 100px;
}
    .header h1{ /*logo*/
        display: inline-block;
        background-color: black;
        border-radius: 50%;
        width: 148px;
        height: 148px;
        position: relative;
        right: -1em;
        border: 6px solid #088291; /*#8b0505, #088291*/
        box-shadow: rgba(9,9,9,0.5) 0px 10px 10px;
    }
        .header h1:hover{

        }
        .header h1 img{ /*logo pura imagen*/
            width: 137px;
            position: absolute;
            top: -4px;
            right: 0;
        }
    .header .navbar{
        /*botones*/
        letter-spacing: -1.35em;/*cambia los lados de los botones*/
        display: inline-block;
        position: absolute;
        left: 185px;
        top: 57px;

        width: 85%;
        height: 67px;
    }
    .navbar ul{
        text-align: center;
        margin: 0px auto;
    }
    /*botones*/
    .navbar ul li{
        background: white;
        display: inline-block;
        letter-spacing: normal;
        font-size: 1em;
        padding: 0.4em;
        width: 20%; 
        border-top: 6px solid #c7b11e;
        border-right: 2px solid #9998ce;
        background: #fff;
        -webkit-transition: 1s all ease;
        -o-transition: 1s all ease;
        transition: 1s all ease;
    }
    .navbar ul a{
        text-decoration: none;  
    }
    .navbar ul a:hover li{
        border-top: 6px solid #088291;  
        background: #f37c7c;
    }

.carousel-inner{
    width: 100%;    
}
.carousel-inner .item {
    max-height: 820px;
}
    .carousel-inner .item img{
       width: 100%;
        /*background-size: cover;*/     
        height: 100%;
    }
    
    .carousel-inner .carousel-caption{
        bottom: 100px;
    }

    .carousel-inner .carousel-caption h3{
        font-size: 3em;
    }

    .carousel-inner .carousel-caption p{
        font-size: 1.8em;
        margin-top: -21px
    }
    

    

/*Media queries movil*/
@media screen and (max-width: 456px){
    body{
        background: red;
    }
    .box{
        width: 100%;
        background: red;
    }
}

/*Media querie tablet*/
@media screen and (min-width: 457px) and (max-width: 767px){
    body{
        background: yellow;
    }
    .box{
        width: 50%;        
    }
    .box:first-child{
        background: blue;
        margin-left: 0;
    }
}

/*www.github.com*/